#chat-template {
    position: fixed;

    z-index: 4;
    width: 100vw;
    height: 100vh;

    background-color: #F7F7F7;
}

#chat-hero-text {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 12%;

    font-size: 42px;
}

#chat-container {
    width: 90%;
    height: 70%;

    /* background-color: pink; */

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#chat-text-input-container {
    width: 70%;
    height: 20%;

    border-radius: 15px;

    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

#chat-text-input-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

#chat-input1 {
    width: 400px;
    height: 70px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 1px black;
    text-align: center;

    font-size: 18PX;
    font-weight: 700;
    color: black;
}

#chat-input1::placeholder {
    text-align: center;
    font-size: 18x;
}

#chat-textarea {
    width: 80%;
    height: 40px;
    resize: none;
    font-weight: 300;
    text-indent: 5%;

    border-radius: 15px;
}

#input-chat-submit {
    width: 50px;
    height: 40px;
    cursor: pointer;

}


#deleteBtn {
    position: absolute;
    right: 10%;
    top: 15%;
    cursor: pointer;
}

/*  */

#chat-text-container {
    width: 70%;
    height: 70%;


    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;

    overflow-y: auto;

    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12.7px);
}

#inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    overflow-y: auto;
    width: 100%;
    margin-top: auto;

    flex-grow: 1;


    /* background-color: yellow; */
}

.chat-box {
    width: 90%;
    background-color: #F7F7F7;
    padding-bottom: 20px;
    padding-top: 20px;

    border-radius: 15px;

    /* margin-top: auto; */

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box-design1-name {
    position: absolute;
    left: 0%;
    width: 20%;
    height: 90%;

    top: 50%;
    transform: translateY(-50%);

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box-design2-msg {
    width: 500px;
    height: auto;
    border-radius: 15px;
    /* background-color: pink; */

    position: relative;
    right: -10%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.chat-box-date {
    width: 80px;
    height: 30px;
    background-color: transparent;
    font-weight: 300;
    font-size: 14px;

    position: absolute;
    right: 0%;
    bottom: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
}