#chat-template {
    position: fixed;

    z-index: 4;
    width: 100vw;
    height: 100vh;

    background-color: #F7F7F7;
}

#chat-hero-text {
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 15%;

    font-size: 42px;
}

#chat-container {
    width: 90%;
    height: 70%;

    background-color: transparent;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    /* Ensure space is correctly distributed */
}

#chat-text-input-container {
    width: 30%;
    height: 90%;

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    position: relative;

    padding-top: 25px;

    background: rgba(255, 255, 255, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12.7px);

}

#chat-text-input-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

#chat-input1 {
    width: 400px;
    height: 70px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    text-align: center;

    font-size: 18PX;
    font-weight: 700;
    color: black;
}

#chat-input1::placeholder {
    text-align: center;
    font-size: 18x;
}

#chat-textarea {
    width: 400px;
    height: 400px;
    resize: none;
    font-weight: 300;
    text-indent: 5%;
}

#input-chat-submit {
    width: 50%;
    height: 40px;

    position: absolute;
    bottom: 5%;

}


#refreshBtn{
    position: absolute;
    right: 0%;
    top: 5%;
}

#deleteBtn{
    position: absolute;
    right: 0%;
    top: 10%;
}

/*  */

#chat-text-container {
    width: 50%;
    height: 90%;
    

    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    border-radius: 15px;
    padding-bottom: 25px;

    overflow-y: auto;

    background: rgba(255, 255, 255, 0.90);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(12.7px);
}

.chat-box {
    width: 90%;
    background-color: #F7F7F7;
    height: 200px;

    border-radius: 15px;

    margin: 10px 0;

    flex-shrink: 0;
    position: relative;
}

.chat-box-design1-name{
    position: absolute;
    left: 3%;
    width: 20%;
    height: 90%;
    background-color: white;

    top: 50%;
    transform: translateY(-50%);

    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box-design2-msg{
    position: absolute;
    right: 3%;
    width: 70%;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 15px;
    background-color: white;
    text-align: center;
}